nav,
  .offcanvas {
    background-color: #1A0033;
  }
  .navbar-toggler{
    border: none;
  }
  .navbar-toggler:focus{
    outline: none;
    box-shadow: none;
  }
  .navbar-nav >li:hover{
    background-color: #5c0000;
  }
body,
  .bd-placeholder-img {
    background-color: #33334D;
  }